@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    .toggleLight{
    background-image: linear-gradient(
        55deg,
        #d0e2ec 0%,
        hsl(200deg 32% 90%) 29%,
        #ebeeef 43%,
        hsl(9deg 16% 93%) 57%,
        hsl(2deg 33% 91%) 71%,
        #f0d6d6 100%
      );
      color:black
    }
    .toggleDark{
        background-image: linear-gradient(
          225deg,
          hsl(240deg 88% 7%) 0%,
          hsl(270deg 33% 13%) 17%,
          hsl(309deg 22% 18%) 42%,
          hsl(334deg 19% 25%) 63%,
          hsl(352deg 15% 33%) 78%,
          hsl(7deg 13% 39%) 87%,
          hsl(18deg 10% 45%) 93%,
          hsl(28deg 8% 52%) 97%,
          hsl(40deg 7% 60%) 99%,
          hsl(60deg 4% 68%) 100%
    );
    }
    h1{
      color:#d0e2ec
    }
      background-repeat: no-repeat;
      background-size: cover;
}
html{
    scroll-behavior: smooth;
}
